In [80]:
import pandas as pd
!pip install openpyxl
% matplotlib inline
import matplotlib.pyplot as plt
import plotly.plotly as py
import numpy as np

Requirement already satisfied: openpyxl in /Users/shilpa/anaconda/lib/python3.6/site-packages (2.4.7)
Requirement already satisfied: jdcal in /Users/shilpa/anaconda/lib/python3.6/site-packages (from openpyxl) (1.3)
Requirement already satisfied: et_xmlfile in /Users/shilpa/anaconda/lib/python3.6/site-packages (from openpyxl) (1.0.1)

In [81]:
df17= pd.read_csv('Crime_Incidents_in_2017.csv')
df17.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [82]:
len(df17)

33065

In [83]:
df16= pd.read_csv('Crime_Incidents_in_2016.csv')
df16.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [84]:
df15= pd.read_csv('Crime_Incidents_in_2015.csv')
df15.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [85]:
df14= pd.read_csv('Crime_Incidents_in_2014.csv')
df14.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [86]:
df13= pd.read_csv('Crime_Incidents_in_2013.csv')
df13.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [87]:
df12= pd.read_csv('Crime_Incidents_in_2012.csv')
df12.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [88]:
df11= pd.read_csv('Crime_Incidents_in_2011.csv')
df11.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [89]:
df10= pd.read_csv('Crime_Incidents_in_2010.csv')
df10.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID'],
      dtype='object')

In [90]:
#Joining data from year 2010 to 2017
frames = pd.concat([df17, df16, df15, df14, df13, df12, df11, df10], axis=0, join='inner')
frames.head(5)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,NEIGHBORHOOD_CLUSTER,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID
0,-76.997558,38.894384,2111617,2017-02-06T20:11:14.000Z,EVENING,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF MARYLAND AVENUE NE,400212.0,136281.0,...,Cluster 25,008302 1,8302.0,Precinct 84,38.894376,-76.997556,CAPITOL HILL,2017-02-01T11:55:55.000Z,NaN,166160586
1,-77.058663,38.906846,7093973,2017-06-03T12:54:27.000Z,DAY,OTHERS,THEFT F/AUTO,2900 - 2999 BLOCK OF N STREET NW,394912.0,137666.0,...,Cluster 4,000100 4,100.0,Precinct 5,38.906838,-77.058661,NaN,2017-06-03T11:54:03.000Z,2017-06-03T11:55:05.000Z,166160673
2,-77.018036,38.960747,9251904,2017-04-07T00:00:00.000Z,MIDNIGHT,OTHERS,HOMICIDE,5800 - 5899 BLOCK OF 4TH STREET NW,398437.0,143648.0,...,Cluster 17,001902 1,1902.0,Precinct 58,38.960739,-77.018034,NaN,2009-02-13T12:03:45.000Z,2009-02-13T12:03:43.000Z,166180501
3,-77.007090,38.876484,16220713,2017-01-01T01:56:49.000Z,MIDNIGHT,GUN,ASSAULT W/DANGEROUS WEAPON,50 - 53 BLOCK OF M STREET SE,399385.0,134294.0,...,Cluster 27,007200 2,7200.0,Precinct 131,38.876476,-77.007088,CAPITOL RIVERFRONT,2016-12-31T23:02:54.000Z,2016-12-31T23:04:41.000Z,166328223
4,-77.030636,38.907910,16216813,2017-01-04T12:56:23.000Z,DAY,OTHERS,MOTOR VEHICLE THEFT,1300 - 1399 BLOCK OF VERMONT AVENUE NW,397343.0,137783.0,...,Cluster 7,005002 2,5002.0,Precinct 17,38.907903,-77.030634,NaN,2016-12-23T20:15:01.000Z,2016-12-24T03:15:16.000Z,166329153

In [91]:
SHIFT = frames['SHIFT'] 
SHIFT.head(5)

0     EVENING
1         DAY
2    MIDNIGHT
3    MIDNIGHT
4         DAY
Name: SHIFT, dtype: object